<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Rezeptobot - Login</title>

		<link href="/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/styles.min.css" rel="stylesheet">
		<link href="/css/select2.min.css" rel="stylesheet">
		<link href="/css/login.css" rel="stylesheet">

		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="icon" href="favicon.ico" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/js/plugins/jquery.min.js"></script>
		<script src="/js/plugins/popper.min.js"></script>
		<script src="/js/plugins/bootstrap.min.js"></script>
		<script src="/js/plugins/select2.min.js"></script>
		<script src="/js/plugins/jquery-ui.js"></script>
		<script src="/js/plugins/scripts.js"></script>
		<script type='text/javascript' src='/js/plugins/jquery.js'></script>
		<script type='text/javascript' src='/js/plugins/moment.min.js'></script>
		<script type='text/javascript' src='/js/plugins/fullcalendar.js'></script>
		<script src="js/registrierung.js"></script>
	</head>

<body>
	<div class="featured" style="margin-top: -10px;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<img id="recipe_image" src="/images/logo/rezeptobot.png" alt="">
					<h3>Rezeptobot</h3>
				</div>
				<div class="col-lg-8">
					<div class="box grid recipes">
						<div class="by" style="text-align: center;"><i class="fa" aria-hidden="true"></i>
							Registrieren</div>
						<div class="content">
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<form id="myform" th:action="@{/process_register}" th:object="${user}"
											method="post" style="max-width: 600px; margin: 0 auto;">
											<div class="form-group">
												<label style="margin-top: 10px;">E-Mail</label>
												<input id="mail" type="email" th:field="*{email}" class="form-control">
											</div>
											<p id="emailFailure" style="color:red; display:none"> Benutzername oder
												Passwort falsch. </p>
											<div class="form-group">
												<label>Passwort</label>
												<input id="passwort" type="password" th:field="*{password}"
													class="form-control">
											</div>
											<p id="pw1Failure" style="color:red; display:none"> Benutzername oder
												Passwort falsch. </p>
											<div class="form-group">
												<label>Passwort wiederholen</label>
												<input id="passwortWiederholen" type="password" class="form-control">
											</div>
											<p id="pw2Failure" style="color:red; display:none"> Benutzername oder
												Passwort falsch. </p>
											<br>
											<br>


											<a onclick='checkRegistration()' class="btn" style="
                                        	background-color: #363636;
                                        	color: #fff;" href="#">Registrieren</a>

											<a class="btn" style="
                                                background-color: #363636;
                                                color: #fff;" th:href="@{/login}" sdf>Abbrechen</a>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</form>

		<!-- Javascript -->
		<script src="js/plugins/jquery.min.js"></script>
		<script src="js/plugins/popper.min.js"></script>
		<script src="js/plugins/bootstrap.min.js"></script>
		<script src="js/plugins/select2.min.js"></script>
		<script src="js/plugins/jquery-ui.js"></script>
		<script src="js/scripts.js"></script>
</body>

</html>