<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Rezeptobot - Rezeptdetails</title>

    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/styles.min.css" rel="stylesheet" />
    <link href="/css/select2.min.css" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" />
  </head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="index.php"
          ><i class="fa fa-cutlery" aria-hidden="true"></i> Rezeptobot</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.php">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="rezeptplaner.php">Kalender</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/uebersicht}">Von A - Z</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="kategorien.php">Kategorien</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}">Logout</a>
            </li>

            <li class="nav-item btn-submit-recipe">
              <a class="nav-link" href="neuesrezept.php"
                ><i class="fa fa-upload" aria-hidden="true"></i> neues Rezept</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <center>
      <img id="recipe_image" src="/images/logo/rezeptobot.png" alt="" />
    </center>
    <div class="recipe-detail">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4 id="rezeptdatum">01.01.2023</h4>
            <h1 id="rezepttitel" th:text="${recipe.titel}"></h1>
            <div class="by">
              <i class="fa fa-user" aria-hidden="true"></i> Jonas Kortum
            </div>
          </div>
          <div class="col-lg-8">
            <img id="recipe_image" src="#" alt="" />
            <div class="info">
              <div class="row">
                <div id="portionen" class="col-lg-4 col-sm-4">
                  <p>Portionen</p>
                  <p>
                    <strong>
                      <i class="fa fa-users"></i>
                      <b th:text="${recipe.anzahlPersonen}"></b>
                    </strong>
                  </p>
                </div>
                <div id="vorbereitungszeit" class="col-lg-4 col-sm-4">
                  <p>Vorbereitungszeit</p>
                  <p>
                    <strong>
                      <i class="fa fa-clock-o"></i>
                      <b
                        th:text="${recipe.vorbereitsungszeitInMinuten}+ ' Minuten'"
                        >Minuten</b
                      >
                    </strong>
                  </p>
                </div>
                <div id="kochzeit" class="col-lg-4 col-sm-4">
                  <p>Kochzeit</p>
                  <p>
                    <strong>
                      <i class="fa fa-clock-o"></i>
                      <b th:text="${recipe.kochzeitInMinuten}+ ' Minuten'"
                        >Minuten</b
                      >
                    </strong>
                  </p>
                </div>
              </div>
            </div>
            <div id="tag" class="tag"></div>
            <div class="ingredient-direction">
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <h3>Zutaten</h3>
                  <ul id="ingredients" class="ingredients">
                    <li
                      th:each="rezeptzutat : ${recipe.rezeptzutaten}"
                      th:text="${rezeptzutat.anzahl} + ' ' + ${rezeptzutat.einheit}"
                    ></li>
                  </ul>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <h3>Zubereitung</h3>
                  <ol id="zubereitung" class="directions">
                    <li>
                      <div id="myDiv" th:text="${recipe.durchfuehrung}"></div>
                    </li>
                  </ol>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <a
                    id="rezeptaendern"
                    onclick="ermittleLinkZuRezeptAendern();"
                    class="btn"
                    style="background-color: #363636; color: #fff"
                  >
                    Rezept ändern
                  </a>
                  <a
                    id="rezeptaendern"
                    href="rezeptaendern.php"
                    class="btn"
                    data-toggle="modal"
                    data-target="#wunderlistmodal"
                    style="background-color: #363636; color: #fff"
                  >
                    Wunderlist
                  </a>
                  <a
                    id="rezeptaendern"
                    href="rezeptaendern.php"
                    class="btn"
                    data-toggle="modal"
                    data-target="#heutegekochtmodal"
                    style="background-color: #363636; color: #fff"
                  >
                    heute gekocht
                  </a>
                  <a
                    id="rezeptaendern"
                    href="rezeptaendern.php"
                    class="btn"
                    data-toggle="modal"
                    data-target="#planenmodal"
                    style="background-color: #363636; color: #fff"
                  >
                    Rezept planen
                  </a>
                  <a
                    id="rezeptaendern"
                    href="uebersicht.php"
                    class="btn btn-delete"
                    style="background-color: #363636; color: #fff"
                  >
                    Rezept löschen
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <h5>About</h5>
            <p>
              Nunc at augue gravida est fermentum vulputate. gravida est
              fermentum vulputate Pellentesque et ipsum in dui malesuada tempus.
            </p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h5>Rezepte</h5>
            <ul>
              <li><a href="#">Zufällig</a></li>
              <li><a href="#">Rezept des Tages</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h5>Kategorien</h5>
            <ul>
              <li><a href="kategorien.php">Übersicht</a></li>
              <li><a href="neueKategorie.php">Neu</a></li>
              <li><a href="loescheKategorie.php">Löschen</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h5>Newsletter</h5>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" />
              </div>
              <button type="submit" class="btn">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </footer>

    <!-- Copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Made with <i class="fa fa-heart" aria-hidden="true"></i> &#8212;
            Copyright &copy; 2018
            <a href="index.php">Grill - Recipes & Food Blog Template</a>. All
            Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
